@media (max-width: 991px) {
    .nav-link.with-dropdown {
        display:block !important;
        position: relative !important;
    }
    .nav-link.with-dropdown:after {
        font-family: "Ionicons";
        content: "\f2c7";
        position: absolute;
        right: 20px;
    }
    .nav-link.hide-dropdown:after {
        font-family: "Ionicons";
        font-size: 26px;
        content: "\f462";
        position: absolute;
        right: 20px;
    }

}